out_file = "feeds.rss"
db_file = "feeds.db"

title = "Feeds Feed"
link = "/dev/null"
description = "A feed of feeds"
user_agent = "NSA"

[feeds]
Linode_Feed = "https://status.linode.com/history.rss"
Cloudflare_Feed = "https://www.cloudflarestatus.com/history.atom"
Imperva_Feed = "https://status.imperva.com/history.rss"
GitHub_Feed = "https://www.githubstatus.com/history.rss"
PagerDuty_Feed = "https://status.pagerduty.com/history.rss"
Slack_Feed = "https://status.slack.com/feed/rss"
AWS_S3_East_1 = "https://status.aws.amazon.com/rss/s3-us-standard.rss"
AWS_S3_East_2 = "https://status.aws.amazon.com/rss/s3-us-east-2.rss"
AWS_EC2_East_1 = "https://status.aws.amazon.com/rss/ec2-us-east-1.rss"
AWS_EC2_East_2 = "https://status.aws.amazon.com/rss/ec2-us-east-2.rss"
